.banner{
   // background-image: url(../img/main/Image.png);
   background-size: cover;
   background-position: start;
   background-repeat: no-repeat;
   
   position: relative;
   padding-top: 150px;

   &__content{
      width: 100%;
   }
      //-------------------------background-text

   .background-text{
      background: linear-gradient(180deg, #ffffffbe 33%, #948a8aca 80%, #363739 90%, #000000 99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   
      font-size: 128px;
      font-family: $lt;
      font-style: normal;
      font-weight:700;
      line-height: 128px;
   
      opacity: 0.1;
      position: absolute;
      z-index: 8;
      left: -1%;
      top: 5%;
      pointer-events: none;
      
   }



   
   
   //------------------------------left decoration

   .left{
      min-width: 400px;
      min-height: 500px;

      border-radius: 50%;
      border-right: 5px solid #363739;

      position: absolute;
      z-index: 4;
      top:20%;
      left: -10%;
      display: flex;
      justify-content: end;
      .decoration__btn{
         min-width: 120px;
         min-height: 500px;
         .form_radio {
            display: inline-block;
            position: absolute;
            margin-bottom: 10px;
            &:first-child{
               top: 14%;
               right: 13%;
            }
            &:nth-child(2){
               top: 30%;
               right: 6%;
               
            }
            &:nth-child(3){
               top: 48%;
               right: 3%;

            }
            &:nth-child(4){
               top: 65%;
               right: 6%;


            }
            &:nth-child(5){
               top: 80%;
               right: 16%;


            }

         }
         .input-color[type=radio] {
            display: none;
         }
         .input-color__label {
            display: inline-block;
            cursor: pointer;
            padding-left: 25px;
            margin-right: 0;
            line-height: 18px;
            user-select: none;
            z-index: 11;
         }
         .input-color__label::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            border: 1px solid white;
            border-radius: 50%;
            z-index: 12;
            
            
         }       
 
         .input-color__label.purlple::before {
            background-color: #9B0E95;
               
         }
         .input-color__label.blue::before {
            background-color: #002B7B;
     
         }
         .input-color__label.black::before {
            background-color:#000000;
         }
         .input-color__label.red::before {
            background-color: #A8000A;
         }
         .input-color__label.green::before {
            background-color:  #86942F
            
         }
         

          
         /* Checked */
         .form_radio input[type=radio]:checked + label:before {
            border-width: 3px;
         }
          

      }
   }

   //------------------------------right decoration
   
   .right{
      min-width: 187px;
      min-height: 505px;

     
      border: 1px solid #363739;
      border-right: none;

      
      position: absolute;  
      z-index:8;
      right: 0;
      top: 20%;
   }
   
    //------------------------------bottom decoration

   .bottom{
      min-width: 560px;
      height: 80px;

      border-bottom: 1px solid  #ffffff;
      border-radius: 50%;
      
      position: absolute;
      bottom:-3%;
      left: 4%;
   }

   //------------------------------first-block wrapper

   &__wrapper{
      width: 100%;
      margin-bottom: 137px;
      padding: 60px 0px 0px 0px;
      position: relative;
      z-index: 9;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-360{
         background-color: #000;
         
         position: absolute;
         left: 23%;
         bottom: -15%;
      }

   }

   &__images {
      margin-right: 5%;
      
   }

   &__img {
      display: none;
      
   }
   &__img.active {
      display: block;
      
   }
   //------------------------------frist-block description

   &__description{
     
      margin-left: 5%;
      font-family:$md;
      font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
      font-style: italic;
      line-height: 48px;
      letter-spacing: 7.68px;
      word-wrap: nowrap;

      

      

      
   }       
   &__title h1{
      font-weight: 700;


   } 
    //------------------------------wrapper for size and price

   .banner__sub-wrapper {
      margin-top: 32px;
      display: flex;
      
      p{
         font-size: 20px;
         line-height: normal;
         letter-spacing: normal;
      }
   }
   .price{
      font-style: normal;
      letter-spacing: 1.68px;
      margin-right: 25%;

   }
   .size{
      display: flex;
      align-items: center;

 //------------------------------size-list

      form{
         display: flex;
         align-items: center;
         justify-content: space-between;

         .select__shop-btn {
            background-color: #000;
            
         }
   
      }

      .select {
         font-size: 36px;
         position: relative;
         width: 120px;
         height: 60px;
         margin: 0 32px 0 18px;

       
      
        &[data-state="active"] {
          .select__title {

           color: #c7ccd1;
            &::before {
              transform: translate(-3px, -50%) rotate(-45deg);
            }
      
            &::after {
              transform: translate(3px, -50%) rotate(45deg);
            }

          }
          
          .select__content {
             text-align: center;
             margin-top: 10px;
            opacity: 1;
          }
          
          .select__label + .select__input + .select__label {
            text-align: center;
            max-height: 30px;
            border-top-width: 1px;
            padding: 30px 15px 30px 20px;
          }

        }

      }
      .select__title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 8px 16px;
        margin-bottom: 5px;
      
        border-radius: 5px;
   
        
        cursor: pointer;
      
        &::before,
        &::after {
          content: "";
      
          position: absolute;
          top: 50%;
          right: 16px;
      
          display: block;
          width: 10px;
          height: 2px;
      
          transition: all 0.3s ;
      
          background-color: #e2e2e2;
      
          transform: translate(-3px, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(3px, -50%) rotate(-45deg);
        }
      
      }
      
      .select__content {
        position: absolute;
        top: 40px;
        left: 3px;
      
        display: flex;
        flex-direction: column;
        width: calc(100% - 6px);
      
        background-color: inherit;

        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
        transition: all 0.1s;
        opacity: 0;
        
        z-index: 8;

      }
      .select__input {
        display: none;

        &:checked + label { 
          background-color: #312e2e;
        }

        &:disabled + label {
          opacity: 0.2;
          pointer-events: none;
        }

      }
      .select__label {
          width: 100%;
         height: 40px;
         max-height: 0;
         padding: 0 16px;

        display: flex;
        align-items: center;
       
        transition: all 0.2s ease-out;
        cursor: pointer;
        overflow: hidden;

        & + input + & {
          border-top: 0 solid #00000060;
        }
      
        &:hover {
          background-color: #4a4a4a !important;
          color: #ffffff;
        }
        
      }
   }


// -------------------------------slider
  .slider-section{
      margin-top: 200px;
      position: relative;
      display: flex;
      align-items: center;
      
  }
   .slider{
      padding-top: 35px;
      max-width: 1700px ;
      max-width: 1050px;
      margin-left: 10%; 
      margin-bottom: 10px;
      
      overflow: hidden;
      
   
   
      &__content {
         max-width: 320px;
         padding-bottom: 30px;
         min-height: 200px;
      
         border: 2px solid #FFF;   
         border-bottom: none;
      }
      &__img {
         max-height: 134px;

         position: absolute;
         left: 10%;
         img{
            max-width: 100%;


         }

         &.first{
            top:-23%;
         }
         &.second{
            top:-9%;
         }
         &.third{
            top:-15%;
         }
      }
   }
  
  

   
   
   .slider__name {
      padding-top: 134px;
      padding-left: 32px;

       font-size: 24px;
      font-family: $ltcn;
      font-style: normal;
      font-weight: 400;
      line-height: 0px;
      text-transform: uppercase;
   }
   
   //-----------------------------------Slider nav
   
   .slider-nav{
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      min-width: 205px;
      margin-left: 50px;
   }
   .slider-btn {
      position: static;
      background-color: inherit;  
      color: #FFF;
   }

   .slider-btn {
      font-size: 16px;
    }

   .slider-btn::after,.slider-btn::before {
      content: "";
      display: block;

      padding: 10px;

      border-left: 5px solid #ffffff;
      border-top: 5px solid #FFFf;
      border-radius: 3px;
   }

   .swiper-button-prev::before {
      transform: rotate(-40deg);
   }

   .swiper-button-prev::after {
      display: none;
   }

   .swiper-button-next::before {
      display: none;

   }


   .swiper-button-next::after {
      transform: rotate(130deg);
   }



   .swiper-button-next {

      text-align:right ;
      

   }
   
   


}