.delivery {
   margin-top: 300px;

   &__wrapper{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;      
   }

   &__item{
      display: flex;
      align-items: center;
      margin-bottom: 30px;


      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;

   }

   &__name{
      font-family: $hv;
   }

   &__descr{
      margin-top: 8px;
   }

}