
body{
   font-family: $bk;

}

//--------------------------------main


////---------------------------------- link-btn

.btn__link {
   
   margin-top: 32px;
   display: inline-block;
   padding: 18px 20px 18px 18px;
   
   border: 1px solid #fff;
   border-radius: 36px;

   font-family: $bk;
   letter-spacing: normal;
   color: #FFF;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 0px;

   position: relative;

   transition: all .3s;
   span{
      display: inline-block;
      font-size: 12px;
      transform:rotate(-30deg);
      margin-left: 5px;
      
   }
}

.title{
   max-width: 611px;
   margin: 0 auto;
   font-family: $md;
   color: #FFF;
   text-align: center;
   font-size: 64px;
   font-style: normal;
   font-weight:400;
   line-height: 100px;
   text-transform: uppercase;
   .bg-text{
      background-image: linear-gradient(-80deg, #ff000d, #ff5757, #ffffff,#ffffff, );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}
