
body{
   font-family: $bk;

}

//--------------------------------main


////---------------------------------- link-btn

.btn__link {
   
   margin-top: 32px;
   display: inline-block;
   padding: 18px 20px 18px 18px;
   
   border: 1px solid #fff;
   border-radius: 36px;

   font-family: $bk;
   letter-spacing: normal;
   color: #FFF;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 0px;

   position: relative;

   transition: all .3s;
   span{
      display: inline-block;
      font-size: 12px;
      transform:rotate(-30deg);
      margin-left: 5px;
      
   }
}


//---------------------------------- Label-section
.label-section {

   

   height: 156px;
}
.label {

   height: 156px;
   color: #FFF;
   font-size: 32px;
   font-family: $bt;
   font-style: italic;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 32px;
   text-align: center;
   text-transform: uppercase;

   div{
      width: 100%;
      position: absolute;
      z-index: 13;

      padding: 30px 0;
      white-space: nowrap;
      word-spacing: 260px;

      span{
         margin-right: 13px;
      }
   }
   &__line.no-rotated {

      transform: rotate(-2.000deg);
      background-color: #BA0000;
      
      
   }
   &__line.rotated {
         
      transform: rotate(2.923deg);
      background-color: #000;

   }
   
}
//---------------------------------- title   

.title{
   max-width: 611px;
   margin: 0 auto;
   font-family: $md;
   color: #FFF;
   text-align: center;
   font-size: 64px;
   font-style: normal;
   font-weight:400;
   line-height: 100px;
   text-transform: uppercase;
   .bg-text{
      background-image: linear-gradient(-80deg, #ff000d, #ff5757, #ffffff,#ffffff, );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}
//---------------------------------- haber-block


//---------------------------------- seller-block

// .seller {
//    margin-top: 231px;
   

//    &__card {
//       width: 416px;
//       height: 560px;
//       margin-right: 16px;
//       position: relative;
//       z-index: 2;

//       &:last-child{
//          margin: 0;
//       }
     
//    }
//    &__tag{
//       font-family: $md;
//       text-align: center;
//       font-size: 64px;
//       font-style: italic;
//       font-weight: 700;
//       line-height: 64px; 
//       color: transparent;
//       -webkit-text-stroke: 1px rgb(255, 255, 255);
//       position: absolute;
//       bottom: 8px;
//       right: 8px;
//    }
//    &__wrapp {
//       width: 100%;
//       margin: 0 auto;
//       margin-top: 107px;
//       padding: 0 px;

//       display: flex;
    
//    }
// }
// //---------------------------------- sports-time-block

// .sports-time {
//    padding-top: 160px;

//    &__title{
//        font-family: $bt;
//       font-size: 96px;
//       font-style: italic;
//       font-weight: 400;
//       text-transform: capitalize;

//       .rotated{
//          position: relative;

//          transform: rotate(-10.675deg);

//          &:first-child{
//             background-clip: text;
//             -webkit-text-fill-color: transparent;
            
//             background-image: linear-gradient(80deg, #ff000d, #ff5757, #ffffff,#ffffff, );
//             z-index: 3;

//          }

//          &:last-child{
//             z-index: 2;
//             color: transparent;
//             -webkit-text-stroke: 1px rgb(255, 255, 255);
//             left: 170px;
//             top: -70px;
           
//          }
//       }

     
//    }
//    .left{
//       position: absolute;
//       width: 1500px;
//       height: 450px;
//       border: 1px solid #ffffff4a ;
//       transform: matrix3d(0,-1,0.00,0,1.00,0,0.00,-0.001,0,0,1,0,0,0,0,1);
//       border-bottom: none;
//       z-index: 1;
//       right: -50%;
//       top: 30%;
   
//    }
//    .right{
//       width: 627px;
//       height: 600px;
//       border: 1px solid #ffffff4a ;
//       transform: rotate(50deg);
//       border-left: none;
//       border-bottom: none;
//       left: -32.7%;
//       top: 68.3%;
//       position: absolute;
//    }

//    &__wrapper{
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr;
//       grid-template-rows: 1fr 1fr ;
//    }


//    &__product{
//       margin-top: 210px;
//       margin-right: 50px;

//       position: relative;
//       z-index: 2;

//       &:nth-child(3){
//          grid-column-start: 2;


//       }

//    }

//    &__name{
//       margin-top: 16px;
//       max-width: 400px;

//       font-family: $ltcn;
//       text-align: center;
//       font-size: 24px;
//       font-weight: 400;
//       text-transform: capitalize;
      

      
//    }
//    &__images img{
//       position: absolute;
//       bottom: 60px;
//       left: 40px;
//    }
   
//    .empty{
//       width: 30%;
//    }  
   
//    .btn__link{
//       margin-top: 120px;
//    }
   

// }

// .modern{
//    margin-top: 238px;

//   &__wrapper{
//       display: flex;
//       align-items: flex-start;
//   }

//   &__img{
//       position: relative;

//       img{
//          transform: rotate(9.691deg);

//          position: relative;
//          z-index: 4;
//       }

//       margin-right: 131px;
//   }

//    &__title{
//       font-family: $md;
//       font-weight: 400;
//       font-size: 64px;


//    }

//    &__text{
//       margin-top: 24px;
      
//       font-size: 24px;

//    }
//    .btn__link {
//       margin-top: 40px;
//    }
// }
// .bc-decoration{
//    position: absolute;
//    top: -10%;
//    left: 10%;

// }


// .favorite {
//    margin-top: 238px;
//    position: relative;
//    .container{
//       display: block;
//    }
//    .decoration{
//       position: absolute;
//       width: 2100px;
//       height: 100px;
//       border: 1px solid #ffffff4a ;
//       transform: matrix3d(0,1,0.00,0,-1.00,0,0.00,-0.001,0,0,1,0,0,0,0,1);
//       border-bottom: none;
//       z-index: 1;
//       left: -87%;
//       top: 101%

   
//    }
//    &__title{
//       text-align: left;
//       max-width: 100%;
//       span{
//          font-family: $bt;
//          color: #BA0000;
//       }
      
//    }
//    &__slider{
//       margin-top: 114px;
//       right: -5%;
//       padding-bottom: 100px;
//    }
//    &-slide__wrapper{

//       position: relative;

//       .bc-decoration{
//          transform: translateY(100%) translateX(90%);

      
//       }
//       .cycle{

//          width: 150px;
//          height: 150px;
//          border-radius: 100%;
//          background: conic-gradient(from 180deg at 100% 20.00%, #F00 0deg, rgba(255, 0, 0, 0.00) 360deg);
//          background-blend-mode: luminosity;
//          filter: blur(90px);
//          left: 40%;
//          top: 40%;
//       }

//    }
//    &__img {
//       position: relative;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       z-index: 3;
//    }

//    .cycle.first-cycle{
//       animation: none;
//       top: 40%;
//       left:40%;


//    }

//    .first-img {
//       transform: translateY(40%);
//    }
   
//    &__descr{
//       font-family: $bt;
//       text-align: right;
//       font-size: 20px;
//       font-style: italic;
//       font-weight: 400;
  
//    }
//    .favorite__price{
//       color: #BA0000;
//       margin-top: 16px; /* 80% */
//    }


// }
// .brands {
//    margin-top: 270px;
//    &__wrapper{
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       gap: 15px;
//       max-width: 1530px;
//       margin: 0 auto;
//       padding-left: 37px;
      
//    }
   
// }
// .best-shoes {
//    margin-top: 240px;
//    img{
//       border-radius: 12px;   
//    }
   
//    &__wrapper{
//       display: flex;
//       justify-content: space-between;
//       align-items: start;
//       gap:60px;
//    }
//    &__text{
//       padding-top: 60px;
//    }

//    &__descr{
//       color: #FFF;
//       font-size: 24px;
//       font-weight: 400;
//       margin-top: 32px;
//    }

//    &__title{
//       line-height: normal;
//       margin: 0 ;
//       text-align: left;
//    }

//    .btn__link {
//       margin-top: 40px;
//       position: relative;
//       z-index: 12;
//    }

//    &__images{

//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       align-items: start;
//       justify-items: center;
//       gap: 30px;

//       position: relative;

//       img{
//          position: relative;
//          z-index: 5;
//       }
      
//       .cycle {
//          top:10%;
//          left: 30%;
//       }


//       .img-1{
//          grid-row-start: 1;
//          grid-row-end: 3;

//       }
//       .img-2{
//          grid-row-start: 1;
//          grid-row-end: 2;
//       }

//       .img-3{
//          grid-column-start: 2;
//       }

//    }
   
// }
// .production {
//    margin-top: 180px;

//    &__wrapper{
//       width: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
      
//    }

//    &__text{
//       max-width: 621px;
//    }

//    &__descr{
//       color: #FFF;
//       font-size: 18px;
//       font-weight: 400;
//       text-transform: capitalize;

//       span{
//          font-family: $hv;
//          text-transform: uppercase;
//       }

//       p{
//          margin-top: 24px;
//       }

//    }

//    &__title{
//       text-align: left;
//       width: 100%;
//       font-size: 48px;
//       line-height: normal;

//       span{
//          color: #BA0000;

//       }
//    }

//    .btn__link {
//       margin-top: 32px;
//    }

// }

// .coupon {
//    margin-top: 300px;
//    margin-bottom: 280px;

//    .container{
//       position: relative;
//    }

//    &__wrapper{
//       width: 100%;
//       border-radius: 10px;
//       border: 1px solid #FFF;
//       backdrop-filter: blur(2px);
//       padding: 64px 40px;
//       position: relative;
//    }

//    .logo {
//       position: absolute;
//       right: 5%;
//       top: 40%;
//    }

//    .bc-img {
//       position: absolute;
//       right: -10%;
//       top: 46%;
//    }

//    &__descr{
//       font-size: 24px;
//    }

//    &__title{
//       margin: 0;
//       max-width: 100%;
//       font-size: 48px;
//       text-align: left;
//    }
   
// }

// .delivery {
//    margin-top: 300px;

//    &__wrapper{
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//    }

//    &__item{
//       display: flex;
//       align-items: center;
//       gap: 16px;


//       font-size: 16px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: normal;
//       text-transform: capitalize;

//    }

//    &__name{
//       font-family: $hv;
//    }

//    &__descr{
//       margin-top: 8px;
//    }

// }
// .menu-bottom {
//    margin-top: 72px;

//    &__wrapper{
//       width: 100%;
//       display: flex;
//       gap: 140px;
//       justify-content: space-between;
//    }

//    &__title{
//       font-family: $hv;
//       font-size: 48px;
//       font-weight: 700;
//       line-height: 64px;
//    }

//    &__form{
//       position: relative;
//       margin-top: 32px;
//    }
//    &__input{
//       width: 399px;
//       height: 56px;
//       padding: 0 146px 0 30px;

//       border-radius: 80px;
//       border: 1px solid #FFF;

//       color: #fff;
//       font-size: 18px;

//       background-color: #000;

//       &::placeholder{
//          text-align: center;
//          font-size: 16px;
//       }
//    }

//    &__btn{
//       position: absolute;
      
//       width: 146px;
//       height: 56px;
//       right: 15%;
//       border-radius: 80px;
//       background: #FFF; 
      

//    }

//    &__logo{
//       margin-top: 88px;
//    }

//    &__nav{
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr;
//       grid-template-rows: 2fr;
//       justify-content:end;
//       column-gap:30px ;
//    }

//    &__list{
//       font-family: $ltcn;
//       font-size: 20px;
//    }

//    &__item{
//       margin-bottom: 16px;

//       &:first-child{
//          font-family: $bt;
//          font-size: 24px;
//          margin-bottom: 24px;
//       }
      
//    }
//    .help{
//       grid-column-start: 3;
//       grid-row-start: 1;
//       grid-row-end: 3;
//    }
//    .servies{
//       align-self: auto;

//    }

// }

// .footer{
//    margin-top: 56px;
//    padding: 31px 0;
//    background-color: #000;
//    border-top: 1px solid #fff;

//    &__wrapper{
//       width: 100%;
//    }

// }
