.modern{
   margin-top: 238px;

  &__wrapper{
      display: flex;
      align-items: flex-start;
  }

  &__img{
      position: relative;

      img{
         transform: rotate(9.691deg);

         position: relative;
         z-index: 4;
      }

      margin-right: 131px;
  }

   &__title{
      font-family: $md;
      font-weight: 400;
      font-size: clamp(3rem, 2.677rem + 1.62vw, 4rem);


   }

   &__text{
      margin-top: 24px;
      
      font-size: clamp(0.875rem, 0.673rem + 1.01vw, 1.5rem);

   }
   .btn__link {
      margin-top: 40px;
   }
}